{% load static %}


<div class="row pt-5 pb-5">
    <div class="col-lg-6 align-items-center">
        

        {% if student.photo %}
            <img class = "d-block m-auto" style = "width:220px;" src="{{student.photo.url}}"  alt="" srcset="">
        {% else %}
            <img class = "d-block m-auto" style = "width:220px;" src="{% static 'app_profiles/img/profile.png' %}"  alt="" srcset="">
        {% endif %}
      

        <div class="mt-5 text-center">
            <a class = "btn my_bg_info text-white" href="{% url 'profiles:edit_student' student.id %}"> Редактировать профиль</a>
            <a class = "btn btn-outline-info" href="{% url 'profiles:change_password' %}">Сменить пароль</a>
        </div>
        
    </div>
    <div class="col-lg-6">
        <p><b>Имя пользователя:</b> {{student.username}}</p>
        <p><b>Имя:</b> {{student.last_name}}</p>
        <p><b>Почта:</b> {% if student.email %} {{student.email}} {% else %} -- {% endif %} </p>
        <p><b>Скидка:</b> {% if student.discount %} {{student.discount}} {% else %} -- {% endif %}</p>
    
        <hr>
        <p><b>Группа:</b> {{student.group.name}}</p>
        <p><b>Программа группы:</b> {{student.group.description}}</p>
       

       
        
    </div>
</div>

{% if abonement_info %}
    <div class="abonement_info">
        <h3>Информация о приобретённом абонементе</h3>
        <div class="info_block mt-5">
            <p><b>Название абонемента:</b>  {{ abonement_info.abonement.name}} </p>
            <p><b>Количество занятий:</b> {{ abonement_info.abonement.amount_lesson}}</p>
            <p><b>Стоимость:</b> <span class="result"></span> </p>
            <div class="d-none">
                <span id = "stock_price">{{ abonement_info.abonement.price}}</span>
                <span id = "discount">{{student.discount.discount}}</span>
                <span id = "discount_value">{{student.discount.value}}</span>
            </div>
            

            <script>
                let res = document.querySelector(".result");
                let stock_price = document.querySelector("#stock_price").textContent;
                let discount = document.querySelector("#discount").textContent;
                let discount_value = document.querySelector("#discount_value").textContent;

                res_value = stock_price;
                console.log("res_v" + res_value);
                if (discount_value && discount){
                    console.log("cicle" + res_value);
                    if (discount_value == "руб"){
                        console.log("cicle_rub");
                        res_value = stock_price - discount;

                    }else{
                        res_value =stock_price - (stock_price/100*discount);
                    }
                }
                console.log("res_v" + res_value);

                res.textContent = res_value + ' руб';

            </script>
                
           
        </div>   
    </div>
{% endif %}
