{% load bootstrap5 %}



<div class="modal-header">
    <div class="modal-title">
        <h5>Удаление дз</h5>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method = "post" action = "{% url 'homework:delete_homework' object.id %}">
        {% csrf_token %}
       {% comment %} {% bootstrap_form form %} {% endcomment %}

        <p>Вы действительно хотите удалить "{{ object }}"?</p>
        {{ form.as_p }}
    
        {% buttons %}
            <button type = "submit" class = "btn my_bg_info text-white">Удалить</button>
        {% endbuttons %}
    </form>
</div>
